.header {
    grid-area: hd;
    grid-gap: 10px;
}

.footer {
    grid-area: ft;
}

.content-one {
    grid-area: main;
    grid-gap: 10px;
}

.content-two {
    grid-area: details;
    grid-gap: 25px;
    text-align: left;
}

@media (min-width: 600px) {
.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    'hd hd hd hd   hd   hd   hd   hd   hd'
    'details details details details details main main main main'
    'ft ft ft ft   ft   ft   ft   ft   ft';
    grid-gap: 10px;
    padding: 20px
}
}
