.Details .content {
    display: flex;
}

.Details .container-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    text-align: start;
    padding: 15px;
}

.Videobox {
    align-content: center;
}

